/* =============================================================================
   RESET
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  text-decoration: none;
}
img,
input,
label {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  line-height: 1em;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
td {
  vertical-align: middle;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
header:after,
footer:after,
section:after,
hgroup:after,
aside:after,
figure:after,
div:after,
ol:after,
li:after,
form:after,
ul:after,
dl:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
hr {
  display: none;
}
.clear {
  clear: both;
}
/* =============================================================================
     MAIN LAYOUT
     ========================================================================== */
.wrapper {
  margin: 0 auto;
  width: 960px;
  position: relative;
}
.content {
  padding: 50px 0;
}
.content section {
  padding-top: 30px;
}
/* =============================================================================
     BASIC STYLES
     ========================================================================== */
h2,
h3,
h4 {
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 0.4em;
  letter-spacing: -0.02em;
}
h3 {
  font-size: 4em;
}
h4 {
  font-size: 3em;
}
p {
  font-size: 1.6em;
  line-height: 1.6em;
  margin-bottom: 1.4em;
}
.photo {
  max-width: 100%;
  position: relative;
  top: -1px;
}
/* =============================================================================
     NAVIGATION
     ========================================================================== */
nav {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.nav-item {
  display: inline-block;
  margin-right: 15px;
}
.nav-link {
  font-size: 1.4em;
}
/* =============================================================================
     HEADER
     ========================================================================== */
.header {
  padding: 100px 0 100px;
  text-align: center;
}
.logo-name {
  margin-bottom: 0;
  font-size: 10em;
  letter-spacing: -0.04em;
}
.tagline {
  margin-bottom: 30px;
  font-size: 2.5em;
  letter-spacing: -0.02em;
  line-height: 1.3em;
}
.call-action-area .price {
  font-size: 4em;
  vertical-align: center;
  margin-right: 20px;
}
.call-action-area .call-action-link,
.btn {
  position: relative;
  top: -5px;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size: 2em;
  line-height: 1em;
  vertical-align: center;
  letter-spacing: -0.02em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.call-action-area .call-action-link:hover,
.call-action-area .call-action-link:focus,
.btn:hover,
.btn:focus {
  top: 0;
}
/* =============================================================================
     ABOUT
     ========================================================================== */
.about {
}
.about-table-wrapper {
  padding: 10px 30px;
}
.about-table {
  position: relative;
  padding: 10px 10px;
  font-size: 2.1em;
  line-height: 1.5em;
  text-align: left;
}
.about-table .organizers {
  width: 80px;
}
.about {
  /* border: 2px solid rgb(110, 101, 202, 0.5); */
  background: #fff;
  /* border-radius: 4px; */
}
.about-description {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 30px 30px 30px 30px;
}

.about-description > p {
  font-size: 2.1em;
  line-height: 1.5em;
}
/* =============================================================================
     SCHEDULE
========================================================================== */
.schedule-tbl {
  /* padding: 20px; */
}
.coffee-session {
  font-size: 1.1em;
  line-height: 1.2em;
  padding: 10px 0px;
}
.coffee-session-title {
  padding: 10px 0px;
  font-weight: 600;
  font-size: 1.1em;
}
.coffee-session-name,
.presentation-name {
  font-size: 1em;
  display: inline-block;
  padding: 3px;
  margin: 10px 0px;
  color: #0969da;
  background-color: #ddf4ff;
  text-align: center;
  font-weight: 500;
  border-radius: 1.6em;
  min-width: 3.8em;
}

.coffee-session-name,
.presentation-name {
  color: #fddd52;
  background-color: #0067e2;
}

.schedule-presentation,
.schedule-coffee {
  padding: 30px;
  margin: 20px 0px;
  font-size: 1.9em;
  line-height: 1.3em;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.presentation-time,
.coffee-time {
  padding: 2px;
  margin-bottom: 10px;
  margin-left: -10px;
  width: 180px;
  text-align: center;
  color: #00539cff;
  background: #ffd662ff;
  /* color: #ffd662ff;
  background: #00539cff; */
  font-size: 1em;
  font-weight: 500;
}
.presentation-title,
.coffee-name {
  padding-top: 10px;
  line-height: 1.3em;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: #00539cff;
}
.presentation-name {
  /* padding: 5px 0px 10px 0px; */
  /* font-weight: 600; */
  font-size: 1em;
  margin-left: -0.2em;
}
.presentation-company {
  /* padding: 0px 0px 5px 0px; */
  font-size: 1.1em;
}

.presentation-description {
  padding: 10px 0px 10px 0px;
  min-height: 10px;
}

.host {
  padding: 10px 0px 30px 0px;
  font-size: 1.1em;
  color: rgba(3, 71, 116, 0.8);
}

.schedule-description {
  border-top: 0.5px solid rgba(0, 127, 255, 0.2);
  padding: 30px;
  margin: 10px 0px;
  font-size: 1.8em;
  line-height: 1.2em;
}
/* =============================================================================
     Media Queries
     ========================================================================== */
@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .about {
    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  /* about */
  .about {
    padding: 5px;
    margin: 0px -5px 0px -5px;
  }
  .about-description {
    padding: 3px;
  }
  .about-table-wrapper {
    padding: 10px;
  }
  .about-table {
    position: relative;
    padding: 10px 0px;
    font-size: 1.4em;
    line-height: 1.4em;
    text-align: left;
  }

  /* schedule */
  .schedule-tbl {
    padding: 3px;
  }
  .schedule-tbl td,
  .schedule-tbl th {
    padding: 10px;
  }
  .schedule-tbl th {
    padding: 10px;
    font-size: 1.8em;
  }
  .schedule-tbl .speaker-photo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  .schedule-tbl .schedule-slot {
    width: 120px;
  }
  .schedule-tbl td.schedule-slot {
    font-size: 14px;
    line-height: 1.2em;
  }
  /* .schedule-tbl .schedule-time {
    width: 38px;
    padding: 10px 5px 10px 5px;
    text-align: left;
  } */
  .schedule-tbl td.schedule-description {
    font-size: 12px;
  }
  /* partners */
  .sponsor-item,
  .partner-item {
    margin: 0 5px 10px 0;
  }
  .sponsor--link,
  .partner-link {
    width: 95px;
    height: 95px;
    line-height: 95px;
  }
  /* contact */
  .control-group-name,
  .control-group-email {
    clear: both;
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .form .btn {
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  /* nav */
  nav {
    display: none;
  }
  .header {
    padding: 50px 0;
  }
  .logo-name {
    font-size: 4em;
  }
  .tagline {
    margin-bottom: 15px;
    font-size: 1.4em;
  }
  .call-action-area .price {
    font-size: 2em;
    margin: 0 0 15px;
    display: block;
  }
  .call-action-area .call-action-link,
  .btn {
    top: 0;
  }
  h2,
  h3,
  h4 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.4em;
  }
  /* content */
  .content {
    padding: 0;
  }
  .content section {
    padding-top: 50px;
  }
  /* speakers */
  .speakers-item {
    min-height: 130px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .speaker-photo {
    width: 50px;
    height: 50px;
  }
  .speech-title {
    padding-top: 0;
    font-size: 1.6em;
    margin-bottom: 0.6em;
  }
  .speech-time {
    font-size: 12px;
    /* padding: 0; */
  }
  .speakers-bio {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .logo-name {
    font-size: 4em;
    margin-bottom: 0.2em;
  }
  /* .schedule-tbl .schedule-description {
      display: none;
    } */
  .schedule-tbl .schedule-slot {
    width: auto;
  }
  /* partners */
  .sponsor-item,
  .partner-item {
    margin: 0 12px 15px 0;
  }
  .sponsor--link,
  .partner-link {
    width: 115px;
    height: 115px;
    line-height: 115px;
  }
}
/* =============================================================================
     MAIN LAYOUT
     ========================================================================== */
html {
  /* background: #f6f6f6; */
  font: normal normal 10px/1.2em helvetica, arial, sans-serif;
  color: #777;
}
/* =============================================================================
     BASIC STYLES
     ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2b2b;
}
/* =============================================================================
     NAVIGATION
     ========================================================================== */
nav {
  background: rgb(41 15 19);
}
.nav-link {
  color: #e7e7e7;
}
.nav-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #fff;
}
/* =============================================================================
     HEADER
     ========================================================================== */
.header {
  /* background-image: url("../img/cover.jpg"); */
  /* background: linear-gradient(-90deg, #000107, #171866, #000007); */
  background: linear-gradient(-90deg, rgb(2 7 32), rgb(2 95 172), rgb(2 7 32));
  /* background: linear-gradient(-90deg, #00539cff, rgb(29 147 245), #00539cff); */
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}
.logo-link,
.tagline,
.call-action-area .price {
  /* color: #fff; */
  color: #e3e4fa;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}
.tagline {
  font-weight: normal;
  /* color: #131d2f; */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding-top: 0.5em;
}
.call-action-area .price {
  color: #fddd52;
}
.call-action-area .call-action-link,
.btn {
  background-color: #fddd52;
  background-image: -moz-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  background-image: -webkit-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fddd52', endColorstr='#f0a303');
  background-image: linear-gradient(top, #fddd52 30%, #f0a303 150%);
  color: #2b2b2b;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), inset 0 -2px 3px 0 #cc7f0a, inset 0 1px 0 0 #fff9b1;
  border-radius: 40px;
}
.github-link {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
}
.github-link img {
  border: 0;
}
/* =============================================================================
     CONTENT
     ========================================================================== */
.content a {
  color: #f0a303;
}
.content a:hover,
.content a:focus {
  color: #fddd52;
  text-decoration: underline;
}

/* =============================================================================
     Media Queries
     ========================================================================== */
@media only screen and (max-width: 1024px) {
  .header {
    background-size: auto 100%;
  }
}
@media only screen and (max-width: 480px) {
  /* speakers */
  .speaker-photo .photo {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.07);
  }
  .speech-title {
    font-weight: bolder;
  }
  .about-description {
    padding: 1em;
  }
  .about-description > p {
    line-height: 1.5em;
    font-size: 1.8em;
  }
  .about-table {
    font-size: 1.8em;
  }
  .coffee-session {
    font-size: 1.3em;
    line-height: 1.3em;
    padding: 5px 0px;
  }
  .coffee-session-title {
    padding: 5px 0px;
    font-weight: 600;
  }
  .coffee-session-name {
    display: inline-block;
    padding: 2px;
    margin: 10px 0px;
  }
  .coffee-session-company {
    line-height: 1.3em;
  }
  /* .schedule-tbl {
    background: #fff;
    border: 1px solid rgb(233 238 243);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(165, 191, 230, 0.15);
  } */
  .schedule-presentation,
  .schedule-coffee {
    padding: 15px;
    margin: 20px -5px;
    font-size: 1.3em;
    line-height: 1.3em;
  }
  .presentation-time,
  .coffee-time {
    font-size: 1.3em;
    font-weight: 500;
    width: 160px;
    margin-bottom: 0px;
    margin-left: -10px;
  }
  .presentation-title,
  .coffee-name {
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 0.3em;
  }
  .presentation-name {
    font-size: 1.4em;
  }
  .presentation-company {
    font-size: 1.4em;
  }
  .presentation-description {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .host {
    font-size: 1.3em;
  }
  /* .speech-time {
      color: #2b2b2b;
      background: transparent;
      font-weight: bolder;
      padding: 3px 2px;
    } */
  .github-link {
    display: none;
  }
  .header {
    background-size: 100%;
  }
}
